<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body style="background-image:url(<%= asset_path '34.jpg'%>)">
    <%= render partial:"layouts/navbar"%>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="registrationform">
   <%= form_for @user, :url => url_for(controller:"users", action:"change_password_update")  do |f| %>

  <div class="field">
    <%= f.label :current_password, "Password" %><br />
    <%= f.password_field :current_password, :autocomplete => "off"  %>
  </div>
  <div class="field">
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password, :autocomplete => "off"  %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>
</body>
</html>
