<style>
 /* Dropdown Button */
 .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu{
  background-color: #008080
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* clip-path: ange color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
} 
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation" >
  <div class="container">
    <div class="navbar-header" ><a class="navbar-brand" href="#">Mysociety::<%= current_user.society.society_name %></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-menubuilder">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",root_path%>
        </li>
        <% if current_user.has_role? "super_admin"%>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">society<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Add Society ",  new_society_path  %></li>
            <li><%= link_to "View Society ",  societies_path  %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events<span class="caret"></span></a>
          <ul class="dropdown-menu">
           <li><%= link_to "view events ",   events_path  %></li>
         </ul>
       </li>
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Messages<span class="caret"></span></a>
        <ul class="dropdown-menu">
         <li><%= link_to "view messages ",messages_path %></li>
       </ul>
     </li>
     <%elsif current_user.has_role? "admin"
     %>
     <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">society<span class="caret"></span></a>
      <ul class="dropdown-menu">
       <li><%= link_to "Edit Society ",  edit_society_path(current_user.society)  %></li>
     </ul>
   </li>
   <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">events<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link_to "add event ",   new_event_path  %></li>
      <li><%= link_to "view events ",   events_path  %></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Maintanace<span class="caret"></span></a>
    <ul class="dropdown-menu">
     <li><%= link_to "add Maintanace ",  new_maintainance_path  %></li>
     <li><%= link_to "view Maintanace",maintainances_path  %></li>
     <li><%= link_to "Maintanance Status",statuses_path  %></li>
   </ul>
 </li>
 <li><%= link_to "complaint",complaints_path, remote: true  %></li>
 <%else%>
 <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">society<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><%= link_to "View Society ",  societies_path  %></li>
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">events<span class="caret"></span></a>
  <ul class="dropdown-menu">
   <li><%= link_to "view events ",   events_path  %></li>
 </ul>
</li>
<li><%= link_to "view Maintanace",statuses_path  %></li>
<li><%= link_to "complaint",new_complaint_path, remote: true  %></li> 
<%end%>
<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link_to "Edit profile", edit_user_registration_path %></li>
      <li><%= link_to "edit password",   change_password_edit_users_path  %></li>
      <li><%= link_to "sign out",destroy_user_session_path,method: "delete"%>
      </ul>
    </li>
  </ul>

  <li data-behavior="notifications">
                
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-bell"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior='notification-items'>
                  </ul>
                </div>
              </li>

</ul>
</div>
</div>
</div>
</div>

<script type="text/javascript">
  var Notifications,
  bind = function(fn, me){ return function(){ return fn.apply(me, arguments); }; };

Notifications = (function() {
  function Notifications() {
    this.handleSuccess = bind(this.handleSuccess, this);
    this.notifications = $("[data-behavior='notifications']");
    if (this.notifications.length > 0) {
      this.setup();
       setInterval(((function(_this) {
        return function() {
          return _this.setup();
        };
      })(this)), 5000);
    }
  }

  Notifications.prototype.setup = function() {

    return $.ajax({
      url: "/notifications.json",
      dataType: "JSON",
      method: "GET",
      success: this.handleSuccess
    });
  };

  Notifications.prototype.handleSuccess = function(data) {
    console.log("data",data)
    var items;
    items = $.map(data, function(notification) {
      
      return "<a class='dropdown-item' href='" + "<%=root_url%>" + "'>" + notification.notifiable.type + " "+ "from" + " " + notification.actor + "</a></br>";
    });
    console.log(items)
    return $("[data-behavior='notification-items']").html(items);
  };

  return Notifications;

})();

jQuery(function() {
  return new Notifications;
});

// ---
// generated by coffee-script 1.9.2s
</script>
